body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DCDDDF;
}
.container {
    max-width: 1250px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin: 0px;
    margin-top: 0px;
}
h1 {
    margin: 0;
}
.doctor-label {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 35px;
    color: #FFFFFF;
}
#logoutButton {
    position: absolute;
    top: 800px;
    left: 40px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #333;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#logoutButton:hover {
    background-color: #555;
}
#support {
    position: absolute;
    top: 250px;
    left: 15px;
    font-size: 25px;
    color: #FFFFFF;
    background-color: #333;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#support:hover {
    background-color: #555;
}
#profil {
    position: absolute;
    top: 300px;
    left: 15px;
    font-size: 25px;
    color: #FFFFFF;
    background-color: #333;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#profil:hover {
    background-color: #555;
}
#patient {
    position: absolute;
    top: 150px;
    left: 15px;
    font-size: 25px;
    color: #FFFFFF;
    background-color: #333;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#patient:hover {
    background-color: #555;
}
#Dashboard {
    position: absolute;
    top: 100px;
    left: 15px;
    font-size: 25px;
    color: #333;
    background-color: #FFFFFF;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#Dashboard:hover {
    background-color: #555;
}
#rendez-vous {
    position: absolute;
    top: 200px;
    left: 15px;
    font-size: 25px;
    color: #FFFFFF;
    background-color: #333;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#rendez-vous:hover {
    background-color: #333;
}
.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #333;
    border-radius: 0 10px 10px 0;
}
.sidebar a {
    text-decoration: none;
    display: block;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 5px;
}
.ticket-container {
    text-align: center;
    margin: 100px auto; /* Centrer verticalement */
    max-width: 500px; /* Augmentez la largeur maximale du container */
    width: 500px; /* Augmentez la largeur du container */
    height: auto; /* Ajustez la hauteur si nécessaire */
    background-color: #80808088; /* Couleur de fond en gris */
    padding: 30px; /* Augmentez le padding pour plus de contenu */
    border-radius: 10px;
    margin-left: -50px; /* Déplacez un peu à gauche */
}

.ticket-container h2 {
    color: #FFF; /* Couleur du texte */
    font-size: 28px; /* Augmentez la taille de la police */
}

.ticket-container p {
    color: #000; /* Couleur du texte */
    font-size: 18px; /* Augmentez la taille de la police */
}
