body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #DCDDDF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    color: #000; /* Définit une couleur par défaut pour le texte */
}

.container {
    max-width: 1250px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    margin: 0px;
    margin-top: -10px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
}

h1 {
    margin: 0;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
}

.doctor-label {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 35px;
    color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
}

#rendez-vous, 
#patient, 
#Dashboard, 
#support, 
#profil {
    font-size: 25px;
    color: #FFFFFF;
    background-color: #333;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    left: 15px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
}
#logoutButton {
    position: absolute;
    top: 800px;
    left: 40px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #333;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#logoutButton:hover {
    background-color: #555;
}


#rendez-vous {
    top: 200px;
}

#patient {
    top: 150px;
}

#Dashboard {
    top: 100px;
}

#support {
    top: 250px;
}

#profil {
    top: 300px;
    color: #333;
    background-color: #FFFFFF;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
}

#rendez-vous:hover, 
#patient:hover, 
#Dashboard:hover, 
#support:hover, 
#profil:hover {
    background-color: #555;
}

.sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #222;
    border-radius: 0 10px 10px 0;
}

.sidebar a {
    text-decoration: none;
    display: block;
    color: #FFFFFF;
    padding: 10px;
    margin-bottom: 5px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
}

.user-info {
    margin: 40px auto; /* Ajuste la marge supérieure et inférieure */
    max-width: 800px; /* Augmente la largeur maximale */
    padding: 30px; /* Augmente le rembourrage */
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: #fff; /* Change la couleur de l'écriture en blanc */

}

.user-info label {
    display: block;
    margin-bottom: 15px; /* Augmente l'espace entre les étiquettes */
    font-size: 22px; /* Augmente la taille de la police pour les étiquettes */
    font-weight: bold;
}

.user-info p {
    margin-bottom: 20px; /* Augmente l'espace entre les paragraphes */
    font-size: 20px; /* Augmente la taille de la police pour les informations */
}

.user-info a {
    color: #007bff;
    text-decoration: none;
}

.user-info a:hover {
    text-decoration: underline;
}
